<section id="hero" class="hero">
  <div class="hero__background">
    <img ngSrc="src/assets/apartments/complejo/imagen-complejo-exterior.jpg" alt="View of the pool and garden at Artin House" class="hero__image" fill priority>
    <div class="hero__overlay"></div>
  </div>
  <div class="hero__content">
    <p class="hero__subtitle1">{{ subtitle1() }}</p>
    <h1 class="hero__title">{{ title() }}</h1>
    <p class="hero__subtitle">{{ subtitle() }}</p>
    <button (click)="scrollTo('booking')" class="hero__button">
      {{ buttonText() }}
    </button>
  </div>
</section>