<section id="amenities" class="amenities">
  <div class="amenities__container">
    <h2 class="amenities__title">{{ title() }}</h2>
    <div class="amenities__grid">
      @for (amenity of amenities(); track amenity.name) {
        <div class="amenities__item">
          <div class="amenities__icon-wrapper">
            @switch (amenity.icon) {
              @case ('wifi') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/wifi-router_3068649.png" alt="WiFi" />
              }
              @case ('heating') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/store_4343738.png" alt="Heating" />
              }
              @case ('parking') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/parking_659660.png" alt="Parking" />
              }
              @case ('ac') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/air-conditioner_583398.png" alt="Air Conditioning" />
              }
              @case ('kitchen') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/kitchen_2176529.png" alt="Kitchen" />
              }
              @case ('tv') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/smart-tv_2912080.png" alt="Smart TV" />
              }

              @case ('garden') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/parasol_10946249.png" alt="Garden" />
              }
            }
          </div>
          <span class="amenities__name">{{ amenity.name }}</span>
        </div>
      }
    </div>
  </div>
</section>