<section id="amenities" class="amenities">
  <div class="amenities__container">
    <h2 class="amenities__title">{{ title() }}</h2>
    <div class="amenities__grid">
      @for (amenity of amenities(); track amenity.name) {
        <div class="amenities__item">
          <div class="amenities__icon-wrapper">
            @switch (amenity.icon) {
              @case ('wifi') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/wifi-router_3068649.png" alt="WiFi" />
              }
              @case ('heating') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/store_4343738.png" alt="Calefacción" />
              }
              @case ('parking') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/parking_659660.png" alt="Estacionamiento" />
              }
              @case ('fan') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/ventilator.png" alt="Ventilador" />
              }
              @case ('kitchen') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/kitchen_2176529.png" alt="Cocina" />
              }
              @case ('microwave') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/microondas.png" alt="Microondas" />
              }
              @case ('barbecue') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/barbecue.png" alt="Parrilla" />
              }
              @case ('tv') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/smart-tv_2912080.png" alt="Smart TV" />
              }
              @case ('garden') {
                <img class="amenities__icon" src="src/assets/apartments/iconos/parasol_10946249.png" alt="Jardín" />
              }
            }
          </div>
          <span class="amenities__name">{{ amenity.name }}</span>
        </div>
      }
    </div>
  </div>
</section>