/* App Component Styles - BEM & Mobile First */

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px; /* Space for fixed header */
}

.app__main {
  flex-grow: 1;
}